main {
    height: 600px;
    width: 600px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    background-color: cornsilk;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.logo-container {
    /* background-color: crimson; */
    flex: 2;
    margin: auto;

}

.input-container {
    flex: 1;
    margin: auto;
}

.button-container {
    background-color: darkorange;
    flex: 1;
    display: flex;
}

.search-container,
.lucky-container {
    flex: 1;
    margin: 3px;
}

.search-container {
    background-color: blue;
}

.space {
    flex: 10;
}