main {
    height: 600px;
    width: 600px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.content {
    background-color: cornsilk;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;

}

.logo-container {
   /* background-color: crimson; */
    flex: 2;
}

.logo {
    display: block;
    margin: auto;
}

.input {
    background-color: darkgrey;
    flex: 1;
}

.buttons {
    flex: 1;
    display: flex;
    align-items: center;
}

.search,
.lucky {
    flex: 1;
    margin: 2px;
}

.space {
    flex: 3;
}

.searchbar {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}